<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="author" content="{{ site.author }}" />
    <meta name="baidu-site-verification" content="0qdDKwGa8M" />
    <title>{{ page.title }} | {{ site.author }}</title>
    <link rel="shortcut icon" href="/favicon.ico">
    <link href="{{ site.url }}/feed/" rel="alternate" title="{{ site.author }}" type="application/atom+xml" />
    <link rel="stylesheet" href="/media/css/style.css">
    <link rel="stylesheet" href="/media/css/highlight.css">
    <script type="text/javascript" src="//code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/x-mathjax-config">
    MathJax.Hub.Config({
      tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}
        });
    </script>
    <script>
    var _hmt = _hmt || [];
    (function() {
      var hm = document.createElement("script");
      hm.src = "//hm.baidu.com/hm.js?d5344a7b00428749bda351de9e235fa0";
      var s = document.getElementsByTagName("script")[0];
      s.parentNode.insertBefore(hm, s);
    })();
    </script>
    <script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
  </head>
  <body>
    <div id="container">
      <div id="main" role="main">
        <header>
        <h1>{{ page.title }}</h1>
        </header>
        <nav>
        <span><a title="home page" class="" href="{{ site.url }}/blog">home</a></span>
        <span><a title="about" class="" href="{{ site.url }}/blog/about/">about</a></span>
        <span><a title="publication" class="" href="{{ site.url }}/blog/publication/">publication</a></span>
        <span><a title="guestbook" class="" href="{{ site.url }}/blog/guestbook/">guestbook</a></span>
        <span><a title="vitae" class="" href="{{ site.url }}/blog/vitae/">vitae</a></span>
        <span><a title="categories" class="" href="{{ site.url }}/blog/categories/">categories</a></span>
        <span><a title="tags" class="" href="{{ site.url }}/blog/tags/">tags</a></span>
        <span><a title="links" class="" href="{{ site.url }}/blog/links/">links</a></span>
        <span><a title="subscribe by RSS" class="" href="{{ site.url }}/blog/feed/">subscribe</a></span>
        </nav>
        <article class="content">
        {{ content }}
        </article>
      </div>
    </div>
  </body>
</html>
